{
    "extends": ["standard"],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "allowImportExportEverywhere": true
    },
    "rules":{
      "one-var": "off",
      "semi": "off",
      "padded-blocks": "off",
      "space-before-function-paren": "off",
      "spaced-comment": "off"
    },
    "globals": {
      "thinkData":{},
      "saasplat":{},
      "think":{},
      "describe":{},
      "it":{}
    }
}
